#title {
  padding-top: 40px;
  padding-bottom: 30px;
}

#codeinput {
  background: none;
  border-color: #00FF41;
  border-width: 4px;
  border-style: solid;
  padding: 20px;
  color: #00FF41;
  margin: auto;
  display: block;
  text-align: center;
}
