/* #title { */
/*   padding-top: 40px; */
/*   padding-bottom: 30px; */
/* } */


#codeinput {
  background: none;
  border: 4px solid #00FF41;
  padding: 20px;
  color: #00FF41;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 200%;
  font-family: monospace;
  text-transform: uppercase;
}

#failed-attempt {
  padding-top: 40px;
}

#stats {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 40px;
}
