/* #title { */
/*   padding-top: 40px; */
/*   padding-bottom: 30px; */
/* } */

.center-lower {
  top: 60%;
}

#codeinput {
  background: none;
  border: 4px solid #00FF41;
  padding: 20px;
  color: #00FF41;
  margin: auto;
  display: block;
  text-align: center;
  font-size: 200%;
  font-family: monospace;
  text-transform: uppercase;
}

#failed-attempt {
  padding-top: 40px;
}

#stats {
  position: absolute;
  bottom: 40px;
  width: 100%;
}

#top-container {
  position: absolute;
  top: 40px;
  width: 100%;
}

#hints-container {
  width: 25rem;
  /* border: 2px solid rgba(0, 255, 65, 0.5); */
  border: 2px solid #00ff41;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  padding: 1rem 1rem;
}

.hints-title {
  width: 100%;
  margin: 0.5rem;
  font-size: 120%;
}

.hint-item {
  border: 2px solid rgba(0, 255, 65, 0.5);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.hint-item:hover {
  background: rgba(0, 255, 65, 0.2);
  cursor: pointer;
}

.hint-item-used {
  background: rgba(0,255,65,0.1);
  border-color: rgba(0,255,65,0.4);
  color: rgba(0,255,65,0.4);
}

.hint-show {
  border: 2px solid #00FF41;
  background: rgba(13, 2, 8, 0.85);
  display: none;
  padding: 1rem 2rem;
}

.hint-show-body {
  text-align: left;
}

#hint-show-bg {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(13,2,8, 0.85);
}

.hint-image {
  height: 40vh;
}

.hint-show .close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.close-btn {
  cursor: pointer;
  font-family: monospace;
  font-size: 130%;
  padding: 0.5rem 1rem;
}

.dialog-btn-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.dialog-btn {
  border: 2px solid rgba(0, 255, 65, 0.5);
  padding: 0.5rem;
  margin: 0.5rem;
}

.col1 {
  grid-column-start: 1;
}
.col2 {
  grid-column-start: 2;
}

.dialog-btn:hover {
  background: rgba(0, 255, 65, 0.2);
  cursor: pointer;
}

#timer-container {
  position: absolute;
  top: 3rem;
  right: 3rem;
  text-align: right;
}

#timer-time {
  font-size: 120%;
}

.timer-penalty {
  color: orange;
  font-size: 90%;
}

.btn {
  color: #00FF41;
  border: 2px solid rgba(0, 255, 65, 0.5);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.btn:hover {
  background: rgba(0, 255, 65, 0.2);
  cursor: pointer;
}

.extra-hint-btn {
  width: fit-content;
  margin: 0.5rem auto;
}

.extra-hint {
  display: none;
}
