#title {
  padding-top: 40px;
  padding-bottom: 30px;
}

.congrats-gif {
  width: 18rem;
  position: absolute;
}

#dancing-birb {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#party-snake {
  bottom: 1rem;
  right: 2rem;
}

#whale-done {
  top: 1rem;
  left: 3rem;
}

#tigger-bouncing {
  bottom: 18%;
  right: 18%;
  width: 20rem;
}

#pig-clapping {
  bottom: 0;
  left: 2rem;
}

#penguin-hearts {
  left: 10%;
  top: 55%;
  transform: translateY(-50%);
}

#penguin-popup {
  bottom: 0;
}

#penguins-madagascar-dance {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 28rem;
}

#happy-dance {
  top: 2rem;
  right: 2rem;
  width: 12rem;
}

#minion-dance {
  bottom: 2rem;
  left: 30%;
  width: 30rem;
}
